<form action="/repair" method="post">
    upload image
    <input type="file" name="img">
    <br><br>
    <select name="selectservice">
        <option value="carpenter" >carpenter</option>
        <option value="plumber">plumber</option>
    </select>
    <br><br>
    <input type="text" name="description">
    <button type="submit" value="submit">submit</button>

</form>
