<h3>Repair requirment</h3>
<form action="/repair" method="post">
    Upload defected item's image
    <input type="file" name="img" id="text" value="image" onchange="getImg()"><br>
    <img src="" alt="" id="fillImg" height="200" width="200" hidden="true">
    <br><br>
    Choose type of service provider <br>
    <select name="selectservice">
        <% skilltypes.forEach((st)=>{ %>
            <option value="<%=st.skillType%>" ><%=st.skillType%></option>
        <% }) %>
    </select>
    <br><br>
    Enter defect <br>
    <input type="text" name="description"><br><br>
    <button type="submit" value="submit">submit</button>

</form>

<script>
function getImg() {
  var imgName=document.getElementById("text").files.item(0).name;
  console.log(imgName)
  document.getElementById("fillImg").src=`/img/${imgName}`
  document.getElementById("fillImg").style.display="block"
}
</script>